<div class="slider-revolution-update-list">	
	<h3 class="version-number">Version 1.0.4.6.5 (24 Apr 2015)</h3>
	<div class="newfeature"><strong style="font-weight:700">NEW FEATURES</strong></div>
	<ul>
		<li>New Live Style Editor (Simple and Advanced)</li>
		<li>Custom Caption Creator</li>
		<li>Live Caption Animation Viewer in Editor</li>
		<li>Export Feature (with Images and Static/Dynamic Styles and with Custom Animations)</li>
		<li>New Main Image Aligns, Repeating and Sizing (like center,center, repeat-x,y,no, cover and container and many more)</li>
		<li>New Layout Viewer ( to see differences between, fullwidth, fullscreen, custom) </li>
		<li>Only Styles are loaded which used in Current Slides</li>
		<li>template slider for post slider added</li>
		<li>allow external images as slide backgrounds</li>
		<li>new options for videos</li>
		<li>many other new options added</li>
		<li>added relpace url's neer export / import slider</li>
		<li>new options for hiding thumbs/bullets/arrows on mobile</li>
		<li>new option force fill width in autoresponsive mode</li>
		<li>id, class, rel tag can be set for each element</li>
		<li>alt tag for images can be set</li>
		<li>layers can now be locked</li>
		<li>layer images can now be resized</li>
		<li>Added new Flat Transitions</li>
		<li>Added FullScreen and FullWidth Forcing in Boxed Themes</li>
		<li>Added Thumbnail for Videos</li>
		<li>Tooltip for Titles</li>
		<li>Shadow Prelayouts</li>
		<li>Move Tabs to Change Slide Order</li>
		<li>Published / Unpublished Slides also Date / Time Dependent</li>
		<li>Loop and Controlless HTML5 Videos</li>
		<li>Play Video only First Time, then Hold</li>
		<li>Linear Resizing of Thumbs</li>
		<li>Unlimited Containers for Offsetting Fullscreen Height </li>
	</ul>
</div>